.info-container
{
    background: var(--linear-blue_purble, linear-gradient(170deg, rgba(255, 255, 255, 0.00) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.96) 83.26%, rgba(154, 155, 211, 0.90) 136.85%));
    border-radius: 10px;
    position: absolute;
    left: 38vw;
    top: 21vh;
    width: 27vw;
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.info-header
{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vh;
    line-height: 3vh;
    color: var(--white);
    margin-top: 2vh;
}

.info-picture
{
    height: 10vh;
    width: 6vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the container */
    height: fit-content;
}

div span.info-name
{
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2vh;
    /* padding-top: 1vh; */
    position: relative;
    top: -15.5vh;
    /* left: 0.2vw; */
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the container */
    height: fit-content;
}