.matches
{
    background: var(--linear-blue_purble, linear-gradient(170deg, rgba(255, 255, 255, 0.00) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.96) 83.26%, rgba(154, 155, 211, 0.90) 136.85%));
    height: 60vh;
    width: 90.5%;
    border-radius: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 1vh;
    left: 3vw;
    z-index: auto;
    overflow: auto;
}

.matches::-webkit-scrollbar {
    display: none;
}

.match-title
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    margin-left: 2vw;
    margin-top: 1vh;
}

.match-list
{
    position: relative;
    top: 6vh;
    left: 0.7vw;
}

.matchItem-container
{
    background: rgba(154, 155, 211, 0.20);
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* width: 40vw; */
    width: 50vw;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 7vh;
    border-bottom: 1px solid rgba(154, 155, 211, 0.2);
    margin: 30px 10px;
}

.matchItem-player1
{
    width: 5.5rem;
    height: 5.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* position: sticky; */
    /* left: 3vw; */
    /* margin: 0.2rem; */
}

.matchItem-player2
{
    width: 5.5rem;
    height: 5.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* margin: 0.2rem; */
}

.matchItem-vs
{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 2vw;
    margin-right: 2vw;
}

/* .matchItem-result-win
{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 4vw;
    margin-right: 2vw;
} */

.matchItem-result
{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 4vw;
    margin-right: 3vw;
}

.matchItem-scores
{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 600;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin-left: 2vw; */
    /* margin-right: 2vw; */
}

.matchItem-xp-win
{
    color: #C2FF86;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.matchItem-xp-loss
{
    color: #FC2B5D;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.matchItem-xp
{
    background: rgba(154, 155, 211, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10vw;
    height: inherit;
    margin-left: auto;
    /* margin-right: 0; */
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
}